.cabeza {
    background-color: #4CAF50; /* Green */
    color: white; /* White text */
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease;
    position: relative;
    margin: 0 15px;
    
  }
  
  .nav-link:hover {
    color: #ec8f26 !important;
}             
  .Icons {
    font-size: 30px;
  }

  .custom-center-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}
  
  .Icons {
      font-size: 30px;
  }
  

  
  
  @keyframes float {
      0%, 100% { transform: translate(-50%, -50%); }
      50% { transform: translate(-50%, -55%); }
  }
  

  /* ESTILOS ADICIONALES */
  :root {
      --primary-color: #ec8f26;
      --secondary-color: #4CAF50;
      --dark-color: #333;
  }
  
  body {
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
  }
  
  
  
  section {
      padding: 100px 0;
      min-height: 100vh;
      display: flex;
      align-items: center;
  }

  .card-local {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s;
    margin-bottom: 30px;
    background: white;
}

.card-local:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card-local img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 25px;
}

a{ 
    text-decoration: none;
    color: inherit;
}

.menu-title {
    font-weight: bolder;  
}
